<main class="container">
  <%= link_to sanitize("&larr; Back to source"), source_path(@source) %>

  <div class="header">
    <h1>Edit source</h1>
  </div>

  <%= turbo_frame_tag "source_#{@source.id}" do %>
    <%= render "form", source: @source %>
  <% end %>
</main>