<main class="container">
  <div class="header">
    <h1>Sources</h1>
    <%= link_to "New source",
                new_source_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Source.new) } %>
  </div>

  <%= turbo_frame_tag Source.new %>
  <%= turbo_frame_tag "sources" do %>
    <%= render @sources %>
  <% end %>
</main>