@font-face {
  font-family: 'Cantarell';
  src: url('Cantarell/Cantarell-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'Cantarell';
//   src: url('Cantarell/Cantarell-Bold.ttf') format('truetype');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Cantarell';
//   src: url('Cantarell/Cantarell-Italic.ttf') format('truetype');
//   font-weight: normal;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Cantarell';
//   src: url('Cantarell/Cantarell-BoldItalic.ttf') format('truetype');
//   font-weight: bold;
//   font-style: italic;
// }

@font-face {
  font-family: 'Ubuntu';
  src: url('Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}