<header class="navbar">
  <% if user_signed_in? %>
    <div class="navbar__brand">
      Sorcerer <sub>/beta</sub>
    </div>
    <div class="navbar__name">
      <%= current_user.email %>
    </div>
    <%= button_to "Sign out",
                  destroy_user_session_path,
                  method: :delete,
                  class: "btn btn--dark" %>
  <% else %>
    <div class="navbar__brand">
      Sorcerer <sub>/beta</sub>
    </div>
    <%= link_to "Sign in",
                new_user_session_path,
                class: "btn btn--dark navbar__right" %>
  <% end %>
</header>